.root {
}
.a1 {
  height: 75px;
  font-family: Monaco, monospace;
}

@media (width < 500px) {
  .root {
    background-color: red;
  }
}

@media (500px <= width < 650px) {
  .root {
    background-color: gold;
  }
}

@media (650px <= width) {
  .root {
    background-color: violet;
  }
}

// @media (max-width: 1000px) {
//   .root{
//     background-color: gold;
//   }
// }
.p1 {
  width: 55px;
  height: 55px;
  display: block;
  overflow: visible;
  margin: 5px;
  padding: 7px;
  font-size: 1.5rem;
  font-weight: 900;
  color: cyan;
}
